*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "genos";
}

:root {
    --mega-white: #ffffff;
    --primary-black: #15141a;
    --secondary-black: #262a2b;
    --primary-gray: #5b5b66;
    --light-gray: #f0f0f4;
    --ocean-blue: #566899;
    --ocean-blue-light: #92a8e4;
    --cool-pink: #ff4d8880;
    --light-green: rgb(131, 184, 131);
    --text-size: 1.5rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-black);
}

.board-wrapper {
    display: grid;
    grid-template-columns: 30px repeat(10, 50px);
    grid-template-rows: 30px repeat(10, 50px);
    flex-shrink: 0;
}

.corner-cell {
    grid-column: 1;
    grid-row: 1;
    width: 30px;
    height: 30px;
}

.col-labels {
    grid-column: 2 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    height: 30px;
}

.row-labels {
    grid-column: 1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: repeat(10, 50px);
    width: 30px;
}

.axis-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-gray);
    font-size: 1.5rem;
}

.buttons-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: 3px solid var(--light-gray);
    border-radius: 2rem;
    background-color: #262a2b;
    padding: 2rem;
}

.game-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#board-and-buttons {
    display: flex;
}

.board {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 1px solid var(--light-gray);
}

/* Each individual cell */
.board div {
    width: 100%;
    height: 50px;
    background-color: var(--ocean-blue);
    border: 1px solid var(--light-gray);
}

.player-name-input {
    background-color: var(--secondary-black);
    color: var(--light-gray);
    font-size: var(--text-size);
    border: 1px solid var(--light-gray);
    border-radius: 0.2rem;
    padding: 0.3rem;
}

.menu-buttons {
    background-color: var(--cool-pink);
    border: none;
    color: var(--mega-white);
    font-size: var(--text-size);
    padding: 5px 10px;
    border-radius: 0.2rem;
}

.menu-buttons:hover {
    scale: 1.1;
    cursor: pointer;
}

.ship-button {
    background-color: var(--primary-gray);
    color: var(--light-gray);
}

.ship-button.active {
    background-color: var(--light-green);
    color: var(--primary-black);
    animation: pulse 2s infinite;
}

.ship-button.disabled {
    text-decoration: line-through;
    pointer-events: none;
}

.ship-button.orientation-button {
    margin-top: 3rem;
}

.hover-valid {
    background-color: lightgreen !important;
}

.hover-invalid {
    background-color: red !important;
}

.placed {
    background-color: rgb(174, 118, 219) !important;
}

.miss-ship {
    background-color: var(--mega-white) !important;
}

.hit-ship {
    background-color: orange !important;
}

.sunk-ship {
    background-color: red !important;
}

.bot-cell.ingame-hover {
    background-color: var(--ocean-blue-light) !important;
}

.game-player-container,
.game-bot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 20px;
}

.game-labels,
.bot-labels {
    font-size: 2.5rem;
    color: var(--mega-white);
}

.game-master-text {
    font-size: 2.5rem;
    width: 400px;
    color: var(--mega-white);
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
}
